
html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
	text-align: center;
}

{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {

    font-family: Merriweather, Georgia, serif;
    font-size:12px;
    height:100%;
    margin:20px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
	text-align: center;
}

#header {
  width: 100%;
  color: #acacac;
  text-align:left;
}

.container {
  max-width: 800px;
  /*border:1px solid red;*/
  /*padding: 0px, 30%, 0, 30%;*/
  /*margin: 3em;*/
  text-align:center;
  /* centers div on page */
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
}

.content: {
  width: 100%;
  border:1px solid black;
  text-align:left;
  position: absolute;
}

/* Landscape layout (with min-width) */
/*
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  
        margin:-90px 0px 0px -198px;                                       
    }
}
*/

.video-container iframe {
    position: relative;	
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showBar, .showBar1, .showBar2, .showBar3, .showBar4, .showBar5 {
  width: 100%;
  background-color:#d0d0d0;
  padding: 10px 10px;
  margin-top: 2px;
}

button {
  width: 100%;
  text-align:left;
  border:none;
  background-color: #ececec;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: #606666;
    font-family: Lora, Georgia, serif;
    font-weight: 700;
    margin: .25em 0 1.25em;
	text-align:left;
}

/* horizontal rule */
hr.lite {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

hr.fadedge {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* blockquote */

blockquote {
    margin: 0 0 1.5em;
    padding-left: 2em;
    position: relative;
    color: #8f9699;
	text-align:left;
}
blockquote p {
    margin-top: 0;
}

blockquote:before {
    font-family: "Times New Roman", Times, sans-serif;
    font-size: 92px;
    font-size: 9.2rem;
    font-weight: bold;
    color: #e2e7e8;
    content: "\201c";
    display: inline-block;
    line-height: 1;
    opacity: 0.2;
    position: absolute;
        top: -18px;
        left: 0;
    vertical-align: top;
    z-index: -1;
}
blockquote blockquote {
    font-size: inherit;
}
blockquote blockquote:before {
    display: none;
}
blockquote cite {
    display: block;
    font-style: italic;
    width: 100%;
    text-align: right;
}

/* Posts */
p {
    font-family: serif;
	font-size:14px;
    line-height: 1.40;
    margin-right: 6px;
    margin-bottom: 0;
	text-align:left;
}

sup {
  font-size:8px;
}

ol {
  text-align:left;
}

ul {
  list-style-type:none;
  text-align:left;
  visibility: hidden;
}

li{
  /*list-style-type:none;
  visibility: hidden;*/
}

.bullet1, .bullet2, .bullet3 {
  /*content:'\00b7'; */
  font-size:100px; 
  line-height:24px; 
  vertical-align:middle;
}

.bullet1 {
  color:Red;
}

.bullet2 {
  color:Purple;
}

.bullet3 {
  color:Green;
}

span.word{
  color:White;
}

/*********************************************/
/*         Graphics for home page            */
/*********************************************/

.maingradient { /* container for circles */
	height:700px;
	width:100%;
	overflow:hidden;
	background:linear-gradient(#fefefe, gray);
}

@-webkit-keyframes fade-in{
from{
    opacity:1;
    top:0px;
}
to{
    opacity:0;
    top:-5px;
}
}

.text-animated-one{
display:inline;
position:relative;
top:0px;
-webkit-animation:fade-in 5s infinite;
}

.text-animated-two{
display:inline;
position:relative;
top:0px;
-webkit-animation:fade-in 7s infinite;
}

.text-animated-three{
display:inline;
position:relative;
top:0px;
-webkit-animation:fade-in 13s infinite;
}

.text-animated-four{
display:inline;
position:relative;
top:0px;
-webkit-animation:fade-in 19s infinite;
}

.circle {
	background:repeating-radial-gradient(
		circle,
		green, 
		green 300px,
		#ff0080 300px, 
		#ff0080 600px);						  	
	
	margin-top:-425px;
	margin-left:-425px;	
	width: 900px;
	height: 900px;
	border-radius: 50%;
}
/*
a {
  color: #0044cc; 
}

a:visited{
  color: #ababab;
}
*/
a { 
  color:#ababab;
  font-weight:bold;
  text-decoration:none;
}	

a.illustrate {
  font-size:20px; 
  color: white;
}

/*********************************************/
/*         Graphics for DS page            */
/*********************************************/

.ds { /* container for circles */
	height:700px;
	width:100%;
	background:linear-gradient(#fefefe, gray);
	-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    img, p {
      padding: 1em;
      margin: 0;
    }
}


.elites { 
  width:100%; 
  height:85px; 
  background: #11bb11; 
  color:white;
  /*border: 1px solid Black;*/
}

.corporate { 
  width:100%; 
  height:85px; 
  background: #99aaff; 
  color:white; 
  /*border: 1px solid Black;*/
}

.federal { 
  width:100%; 
  height:85px; 
  /*background: #ffee00; */
  background: #990000; 
  color:white; 
  /*border: 1px solid Black;*/
}

.frontlines { 
  width:100%; 
  height:85px; 
  /*background: #ffee00; */
  background: Black; 
  color:white; 
  /*border: 1px solid Black;*/
}

span {
  top: 40%;
  position: relative;
  /*text-align:center;
  width: 100%;*/
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /*border: 1px solid White;*/
}

.span2 {
  top: 50%;
  position: relative;
  /*text-align:center;*/
  width: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  /*border: 1px solid White;*/
}

.table-container {
  display: table;
  width: 100%;
  height:85px; 
  color: White;
}

.column-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  float: left;
  background: #00000000;
}

.column-right {
  display: table-cell;
  width: 50%;
  height: 100%;
  float: right;
  background: #00000000;
}

.text-animated-play{
  margin-top: 40%;
  -webkit-animation:fade-in 5s infinite;
}

.legend{
  background-color: ##330099ff;
  color: White;
  border:1px solid White;    
  height:50px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.play {
  background-color:Green;
  color: White;
  border:1px solid White;    
  height:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:50px;
  float: right;
  text-align: center;
  margin-top: 2em;
  margin-right: 3em;
  /*border: 1px solid White;*/
}

.freemason {
  background-color:Red;
  color: White;
  border:1px solid White;    
  height:20px;
  border-radius:20%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:20px;
  float: left;
  text-align: center;
  margin-top: -0.5em;
  margin-left: 0.5em;
  visibility: hidden;
 }
 
 .intelligence {
  background-color:Green;
  color: White;
  border:1px solid White;    
  height:20px;
  border-radius:20%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:20px;
  float: left;
  text-align: center;
  margin-top: -0.5em;
  margin-left: 0.5em;
  visibility: hidden;
 }
 
.offenders {
  background-color: MediumPurple;
  color: White;
  border:1px solid White;    
  height:20px;
  border-radius:20%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:20px;
  float: left;
  text-align: center;
  margin-top: -0.5em;
  margin-left: 0.5em;
  visibility: hidden;
 }





@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
